<app-header></app-header>
<div flex>
  <h2>Select Planets you want to search in:</h2>
</div>

<div>
  <span>
    <h3>Destination: 1</h3>
    <mat-form-field>
      <mat-select placeholder="Select Planet" (selectionChange)="planetSelected(1, $event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let planet of unselectedPlanetNames" [value]="planet">
          {{planet}}
        </mat-option>
      </mat-select>
    </mat-form-field>    
  </span>
  
  <span>
    <h3>Destination: 2</h3>
    <mat-form-field>
      <mat-select placeholder="Select Planet" (selectionChange)="planetSelected(2, $event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let planet of unselectedPlanetNames" [value]="planet">{{planet}}</mat-option>
      </mat-select>
    </mat-form-field>    
  </span>

  <span>
    <h3>Destination: 3</h3>
    <mat-form-field>
      <mat-select placeholder="Select Planet" (selectionChange)="planetSelected(3, $event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let planet of unselectedPlanetNames" [value]="planet">{{planet}}</mat-option>
      </mat-select>
    </mat-form-field>    
  </span>

  <span>
    <h3>Destination: 4</h3>
    <mat-form-field>
      <mat-select placeholder="Select Planet" (selectionChange)="planetSelected(4, $event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let planet of unselectedPlanetNames" [value]="planet">{{planet}}</mat-option>
      </mat-select>
    </mat-form-field>    
  </span>
</div>

<div>
  <button mat-raised-button color="primary" (click)="findFalcone()">Find Falcone</button>
</div>